
    <form>
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="medium-6 cell">
                    <label>제목
                        <input type="text" placeholder="" id="subject" name="subject">
                    </label>
                </div>
                <div class="medium-6 cell">
                    <label for="exampleFileUpload" class="button">Upload File</label>
                    <input type="file" id="exampleFileUpload" class="show-for-sr">
                </div>
                <div class="medium-6 cell">
                    <label>
                        description
                    <textarea placeholder="None" rows="10" id="description" name="description"></textarea>
                    </label>
                </div>
            </div>
        </div>
        <button type="button" class="success button" id="form-submit">Save</button>
    </form>
 