<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app>
      <v-content>
        <v-container>
            <h1>
                이 홈페이지는 디자인을 신경쓰지 않고 만든 그냥 홈페이지
            </h1>
            <ul>
                <li>Node.js</li>
                <li>Express</li>
                <li>DynamoDB</li>
                <li>AWS S3</li>
            </ul>
            <br/>
            <button v-on:click="goPage">입장 ~ </button>
        </v-container>
      </v-content>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
  <script>
    var app = new Vue({
        el: '#app'
        , data : {

        }
        , methods : {
            goPage : () => {
                console.log('aa');
                
            }  
        }
    });
  </script>
</body>
</html>