<form method="post" action="/loggin">
    USERNAME : <input type="email" name="username" value="" />
    PASSWORD : <input type="password" name="password" value="" />
    <button type="submit">로그인</button>
</form>