<div class="alert alert-danger"><%= message %></div>
<br/>
<form method="post" action="/auth/signProc">
    username : <input type="email" name="username" />
    nickname : <input type="text" name="nickname" />
    password : <input type="password" name="password" />
    password confirm : <input type="password" name="c_password" />
    <button type="submit">등록</button>
</form>



