<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu">
            <li class="menu-text">
                <a href="/">Unknown App</a>
            </li>
            <li><a href="/shop/">나의 상점</a></li>
            <li><a href="/store/">장터</a></li>
            <li><a href="/board/">자유게시판</a></li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li><a href="#">회원기입</a></li>
            <li><a href="#">로그인</a></li>
            <li><a href="#">마이페이지</a></li>
            <li><a href="#">로그아웃</a></li>
        </ul>
    </div>
</div>